.vost-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.vost-column {
    flex: 1;
}

.vost-block {
    padding: 0;
    margin: 0;
}

.vost-block.vost-bordered {
    border: 1px solid var(--grey-light-color);
}