* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    user-select: none;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

ol, ul, li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2e3543;
}

main {
    /*background-color: red;*/
    flex: 1;
}

button, button:hover, button:focus {
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
}

/* Conteneurs */
.vost-container {
    width: 900px;
    margin: 0 auto;
    padding: 10px 0px;
}

/* Conteneurs */

/* header top nav */

.vost-top-nav {
    background-color: #ff8055;
}

.vost-top-nav>.vost-container, .vost-menu-nav>.vost-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vost-menu-nav>.vost-container {
    padding: 0;
}

.vost-btn-group {
    display: flex;
    column-gap: 5px;
}

.vost-btn, .vost-btn:hover, .vost-btn:focus {
    background-color: #f3f3f3;
    color: #6a7180;
    border-right: 1px solid transparent;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    position: relative;
    vertical-align: middle;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}

.vost-btn.vost-primary {
    background-color: #33ac31;
    text-shadow: rgb(0 0 0 / 20%) 1px 1px 0;
    color: #fff !important;
    font-weight: 700;
}

/* header top nav */

/* header middle nav */
.vost-menu-nav .vost-nav-group {
    display: flex;
}

.vost-menu-nav .vost-nav-group .vost-menu-container {
    border-radius: 0;
    border-right: 1px solid #d1d1d1;
    background: url('../img/menu-bg.png') repeat-x left bottom transparent;
    color: #6a7180;
    font-size: 13px;
    height: 40px;
    padding: 0 15px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.vost-menu-nav .vost-nav-group .vost-menu-container.home {
    color: #fff;
    background: #33ac31;
    font-size: 21px;
}

.vost-menu-nav .vost-nav-group .vost-menu-container:first-child {
    border-radius: 3px 0 0 3px;
}

.vost-menu-nav .vost-nav-group .vost-menu-container:last-child {
    border-radius: 0 3px 3px 0;
}

.search-box {
    background-color: #fff;
    width: 150px;
    height: 28px;
    color: #6a7180;
    padding: 0 30px 0 5px;
    border: 1px solid #d1d1d1;
}

.vost-menu-nav .vost-nav-group .vost-menu-container:hover {
    color: #000;
    background: #fff;
}

.vost-menu-nav .vost-nav-group .vost-menu-container.home:hover {
    color: #fff;
    background: #118E0F;
}

#search-container {
    background: url('../img/menu-bg.png') repeat-x left bottom transparent;
    color: #6a7180;
    cursor: initial;
    padding: 0 2px 0 5px;
    position: relative;
}

#search-container input[type=submit] {
    position: absolute;
    right: 3px;
    top: 5px;
    bottom: 5px;
    background: url(../img/sprite.png) no-repeat -123px 7px transparent;
    width: 30px;
    text-indent: -9999px;
    margin: 0 0 0 -30px;
    border-left: 1px solid #ddd;
    cursor: pointer;
}

/* header middle nav */

/* footer */
.vost-footer-desc {
    background-color: #fff;
    display: table;
    width: 900px;
    padding: 10px;
    margin: 10px auto 30px;
    color: #7a7a7a;
    font-size: 12px;
    text-align: center;
    border: 1px solid #c2c2c2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.vost-footer-desc::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border-right: 1px #c2c2c2 solid;
    border-top: 1px #c2c2c2 solid;
    transform: rotate(315deg) translateX(-50%);
    top: -15px;
    left: 50%;
}
#vost-footer {
    width: 100%;
    margin: 5px 0 0;
    padding: 0;
    display: table;
    clear: both;
    position: relative;
    font-weight: 700;
}

#vost-to-top {
    background: url(../img/sprite.png) no-repeat -165px 0 transparent;
    width: 63px;
    height: 68px;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    cursor: pointer;
}

#vost-footer .vost-footer-top {
    background: #2e3543;
    width: 100%;
    padding: 20px 0;
    clear: both;
    display: table;
    color: #fff;
}

#vost-footer .vost-footer-top-content {
    margin: 0 auto;
    width: 900px;
}

#vost-footer .vost-footer-alt {
    background: #2e3543;
    width: 100%;
    height: 30px;
    clear: both;
    color: #fff;
    line-height: 30px;
    display: table;
}
#vost-footer .vost-footer-alt-content {
    margin: 0 auto;
    width: 900px;
    border-top: 1px solid #4f5665;
    display: table;
    font-size: 12px;
}
#vost-footer .vost-footer-link {
    display: table;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
}
#vost-footer .vost-footer-link li {
    color: #fff;
    float: left;
    margin: 0 15px 0 0;
}

#vost-footer a {
    background-color: transparent;
    color: #ff935e;
    text-decoration: none;
    cursor: pointer;
}
/* footer */