.vost-media-block {
    width: calc(100% - 20px);
    background-color: #2e3543;
    padding: 0 10px;
    border-radius: 3px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vost-media-block-title {
    display: inline;
    background-color: #fff;
    padding: 10px;
    margin-top: -5px;
    border: var(--border-grey) 1px solid;
    border-top: var(--orange) 5px solid;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
}

.vost-media-block-title>i {
    color: var(--orange);
}
.vost-media-block-action {
    display: flex;
    color: var(--orange);
}
.vost-media-block-action-item {
    padding: 2px 5px;
    border-right: var(--border-grey) 1px solid;
    background-color: #fff;
    cursor: pointer;
}
.vost-media-block-action-item:hover {
    background-color: #f3f3f3;
}
.vost-media-block-action-item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.vost-media-block-action-item:last-child {
    border-right: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}